@font-face{
    font-family:"pop";
    src: url("../../src/fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family:"pop-bold";
    src: url("../../src/fonts/Poppins-Bold.ttf");
}

@font-face{
    font-family:"pop-light";
    src: url("../../src/fonts/Poppins-Light.ttf");
}
