// imports
@import "./_modules/header";
@import "./_modules/sections";

// mixs: 
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'pop';
}

.bold{
    font-weight: bold;
    font-family: 'pop-bold';
}