// imports
@import "./_modules/header";
@import "./_modules/sections";
@import "./_modules/footer"; 


// mixs: 
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'pop'!important;
    color:#2d2d2d;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
}

.bold{
    font-weight: bold;
    font-family: 'pop-bold';
}