// imports
@import "./_modules/header";
@import "./_modules/sections";
@import "./_modules/footer"; 


// mixs: 
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'pop';
    color:#2d2d2d;
}

.bold{
    font-weight: bold;
    font-family: 'pop-bold';
}